@charset "UTF-8";

/*
    Em HTML é ID = em CSS é # (só pode um elemento)
    Em HTML class = em CSS é . (pode vários elementos)
*/

body {
    background-color: #A5F1F6;
    font-family: Arial, Helvetica, sans-serif
}

h1#principal {
    color: white;
    text-align: center;
    background-color: #618D91;
}

h1 {
    color: #344C4E;
}

h2 {
    color: #51777A;
}

.basico {
    color: #3b8340;
}

.intermediario {
    color: #868531;
}

.avancado {
    color: #833b3b;
}

.destaque {
    background-color: rgba(182, 182, 98, 0.767);
}